
#login{
	width: 350px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-shadow: 1px 5px 30px rgb(195, 195, 195);
		
}

#inicio{
	position: absolute;
	top: 50%;
	left: 50%;
		
}


#buttonInicio{
	position: absolute;
	display: inline-block
}

.btn-lg {
    
    width:150%;
    font-size: 30px;
    text-align:center;
}

.bg{
	background: url('../img/covid.jpg') no-repeat;  width:100%; height:100vh;
  background-size: cover;
  background-color: #fff
}
.form-container{
	border:0px solid #fff;
	padding: 50px 60px;
	margin-top: 30vh;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
	-moz-box-shaddow: -1px 4px 26px 11px rgba(0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
	
}

#buttonLogin{
	transform: translate(-50%, -50%);
	margin-left:  1025px;
	margin-top: 300px;
/* 	font-size: 40px;   */
	width:30%; 
	height:8vh;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
	-moz-box-shaddow: -1px 4px 26px 11px rgba(0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
	
}

.center{
	text-align: center;
}

#cadastrovoluntario{
	
/* 	font-size: 40px;   */
margin-left:  700px;
	width:30%; 
	height:8vh;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
	-moz-box-shaddow: -1px 4px 26px 11px rgba(0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
	
}

#formvoluntarios{
	margin-left:  900px;
	font-size: 40px;  
	margin-top: 260px; 
	width:30%; 
	height:8vh;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
	-moz-box-shaddow: -1px 4px 26px 11px rgba(0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
}

#relacaopresfamilia{
	
	margin-left:  900px;
	font-size: 40px;  
	margin-top: 130px; 
	width:30%; 
	height:8vh;
	-webkit-box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
	-moz-box-shaddow: -1px 4px 26px 11px rgba(0,0,0.75);
	box-shadow: -1px 4px 26px 11px rgba(0,0,0.75);
}

.logincontainer{
	 margin-top: 740px;
}

.containerone{
/*  background: url('covid.jpg') no-repeat;  width:100%; height:100vh; */
 background-size: cover;
 background-color: #E6E6FA;
 }
 
 #loginlink{
	margin-left: 840px;
	font-size: 40px;  
	margin-top: 100px; 
	width:30%; 
	height:8vh;
 
 }
 
 #centralizar{
 position:absolute; top:50%; left:50%
 }
